<% var current_user = request.session.user; %>

<div class="extras_section">
    <h2 class="post_title"><a href="/post/<%- post._id %>"><%= post.title %></a></h2>
    <div class="post_content">
    <%- post.is_markdown ? markdown(post.content) : post.content %>
    </div>
    <% if(post.tags && post.tags.length > 0) { %>
    <div class="tag"><span class="name">标签: </span>
        <%
        var tags = post.tags;
        for(var j = 0, jl = tags.length; j < jl; j++) {
        %>
        <a href="/tag/<%= tags[j] %>"><%= tags[j] %></a>
        <% } %>
    </div>
    <% } %>
    <p class="post_info">
        <% if(post.author) { %>
        <a href="<%- post.author.t_url %>">
           <img style="width: 25px; height: 25px;" src="<%- post.author.profile_image_url %>" />
           @<%= post.author.screen_name %>
        </a>
        <% } %>
        <% if(post.create_at) { %>
        Post at <%- post.create_at.format() %>
        <% } %>
        <span style="color: #ccc;">&bull;</span>
        <% if(current_user && (current_user.is_admin || current_user.uid === post.author.uid)) { %>
        <a href="/post/<%- post._id %>/edit">编辑</a>
        <span style="color: #ccc;">&bull;</span>
        <a href="javascript:delete_post('<%- post._id %>');">删除</a>
        <% } %>
    </p>
    
    <hr/>

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'nodeblog'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
    
</div>

<script>
$(function(){
    var c_url = 'http://api.yongwo.de/api/s?u=';
    c_url += document.location.href;
    c_url += '&cb=?'
    $.getJSON(c_url, function(data){
        var html = '<span>Shorten URL <input class="short_url" type="text" value="' + data + '" /></span><br/>';
        $('.post_info').prepend(html).find('.short_url').click(function() {
            $(this).select();
        });
    });
});
</script> 