<div id="search" class="widget">
  <form action="/search" class="clearfix">
    <input type="text" name="q" id="q" />
    <input type="submit" value="搜索" name="go" class="btn"/>
  </form>
</div>
<div id="tag" class="widget">
  <h3 class="title-en">Tags</h3>
</div>
<div id="link" class="widget">
  <h3 class="title-en">Links</h3>
</div>
<div id="life" class="widget">
  <h3 class="title-en">****</h3>
  <a href="http://bangumi.tv/user/zolunx10"><img src="http://bangumi.tv/chart/img/4520" border="0" alt="X10的ACG生活" /></a>
</div>