<?js for(var i = 0, len = it.posts.length; i < len; i++) { 
    var post = it.posts[i];
?>
<div class="extras_section"> 
    <h2><a href="/post/<?js= post.id ?>"><?js! post.title ?></a></h2> 
    <div class="post_content">
    <?js= post.html ?>
    </div>
    <p>
        <?js if(post.author) { ?>
        <a href="<?js= post.author.t_url ?>">
           <img style="width: 25px; height: 25px;" src="<?js= post.author.profile_image_url?>" />
           @<?js! post.author.screen_name ?>
        </a>
        <?js } ?>
        Post at <?js= post.create_at.format() ?>
        <span style="color: #ccc;">&bull;</span>
        <?js if(it.current_user && (!post.author || it.current_user.uid === post.author.uid)) { ?>
        <a href="/post/<?js= post.id ?>/edit">编辑</a>
        <span style="color: #ccc;">&bull;</span>
        <a href="javascript:delete_post('<?js= post.id ?>');">删除</a>
        <?js } ?>
    </p>
</div> 
<?js } ?>

