{{ for(var i = 0, len = posts.length; i < len; i++) { 
    var post = posts[i];
}}
<div class="extras_section"> 
    <h2><a href="/post/{{= post.id }}">{{= post.title }}</a></h2> 
    <div class="post_content">
    {{- post.html }}
    </div>
    <p>
        {{ if(post.author) { }}
        <a href="{{= post.author.t_url }}">
           <img style="width: 25px; height: 25px;" src="{{= post.author.profile_image_url}}" />
           @{{= post.author.screen_name }}
        </a>
        {{ } }}
        Post at {{= post.create_at.format() }}
        <span style="color: #ccc;">&bull;</span>
        {{ if(current_user && (!post.author || current_user.uid === post.author.uid)) { }}
        <a href="/post/{{= post.id }}/edit">编辑</a>
        <span style="color: #ccc;">&bull;</span>
        <a href="javascript:delete_post('{{= post.id }}');">删除</a>
        {{ } }}
    </p>
</div> 
{{ } }}

