<% 
var current_user = request.session.user;
for(var i = 0, len = posts.length; i < len; i++) { 
    var post = posts[i];
%>
<div class="extras_section"> 
    <h2><a href="/post/<%- post._id %>"><%= post.title %></a></h2> 
    <div class="post_content">
    <%- post.is_markdown ? first_paragraph_markdown(post.content) : post.content %>
    <a href="/post/<%- post._id %>">查看全文</a>
    </div>
    <% if(post.tags && post.tags.length > 0) { %>
    <div class="tag"><span class="name">标签: </span>
        <%
        var tags = post.tags;
        for(var j = 0, jl = tags.length; j < jl; j++) {
        %>
        <a href="/tag/<%= tags[j] %>"><%= tags[j] %></a>
        <% } %>
    </div>
    <% } %>
    <p>
        <% if(post.author) { %>
        <a href="<%- post.author.t_url %>">
           <img style="width: 25px; height: 25px;" src="<%- post.author.profile_image_url %>" />
           @<%= post.author.screen_name %>
        </a>
        <% } %>
        <% if(post.create_at) { %>
        Post at <%- post.create_at.format() %>
        <% } %>
        <span style="color: #ccc;">&bull;</span>
        <% if(current_user && (current_user.is_admin || current_user.uid === post.author.uid)) { %>
        <a href="/post/<%- post._id %>/edit">编辑</a>
        <span style="color: #ccc;">&bull;</span>
        <a href="javascript:delete_post('<%- post._id %>');">删除</a>
        <% } %>
    </p>
</div> 
<% } %>
<% if(page > 1) { %>
<a href="/?page=<%- page - 1 %>">上一页</a>
<% } %>
<% if(posts.length > 0) { %>
<a href="/?page=<%- page + 1 %>">下一页</a>
<% } %>
