<!DOCTYPE html>
<html> 
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="A simple blog base on nodejs." /> 
    <meta name="viewport" content="width=770" /> 
    <title><% if(locals.post) { %> <%= post.title %> - <% } %><%- config.site_name %></title> 
    <link rel="icon" href="/favicon.ico" /> 
    <link rel="stylesheet" href="/simple/css/main.css" />
    <link rel="stylesheet" href="/css/prettify.css" /> 
    <script src="/js/jquery-1.5.2.min.js"></script>
    <script src="/js/prettify.js"></script> 
<script>
function delete_post(id) {
    if(window.confirm('确定要删除此文章吗？')) {
        $.post('/post/' + id + '/delete', function(result) {
            if(result.error) {
                alert(result.error);
            } else {
                window.location = '/';
            }
        });
    }
};
$(document).ready(function(){
	$('pre code').parent().addClass('prettyprint');
	prettyPrint();
});
</script> 
</head>
<body>
<a href="http://github.com/fengmk2/nodeblog"><img style="position: absolute; top: 0; right: 0; border: 0;" src="/image/forkme.png" alt="Fork me on GitHub" /></a>
<div class="body">
   <div id="header"> 
        <div id="userpanel">
		     <a href="/">首页</a>
		     <span style="color: #ccc;">&bull;</span> 
		     <a href="/rss">RSS</a>
		     <% if(request.session.user) { 
		         var user = request.session.user;
		     %>
			     <% if(user.is_admin) { %>
			     <span style="color: #ccc;">&bull;</span> 
	             <a href="/post/new">添加文章</a> 
	             <% } %>
		     <span style="color: #ccc;">&bull;</span> 
		     <a href="/user/<%- user.uid %>">
                <img style="width: 25px; height: 25px;" src="<%- user.profile_image_url %>" />
                @<%- user.screen_name %>
             </a>
		     <span style="color: #ccc;">&bull;</span> 
		     <a href="/user/logout">退出</a>
		     <% } else { %>
		     <span style="color: #ccc;">&bull;</span>
		     <a href="/user/login">登录</a>
		     <% } %>
        </div> 
        <h1 id="logo"> 
            <a href="/" class="logo" title="<%- config.site_name %>"><%- config.site_name %></a> 
        </h1> 
        <div id="description"><%- config.site_description %></div> 
    </div> 
    <div id="content"><%- body %></div> 
    <div id="footer"> 
        <a href="/">Home</a> &bull;
        <a href="/about">About</a> &bull;
        <a href="/m">Mobile</a> &bull;
        <a href="/api">API</a> 
        |
        Power by
        <a href="http://www.mongodb.org" target="_blank">Mongodb</a> &bull;
        <a href="http://nodejs.org" target="_blank">Nodejs</a> &bull;
        <a href="http://senchalabs.github.com/connect/" target="_blank">Connect</a> &bull;
        <a href="https://github.com/guileen/node-mongoskin" target="_blank">Mongoskin</a> &bull;
        <a href="https://github.com/visionmedia/ejs" target="_blank">ejs</a> &bull;
        <a href="http://jquery.com" target="_blank">jQuery</a>
        <div style="margin-top: 1em;"> 
	        &copy;&nbsp;2011 Net4Team.
	        Help and Contact :
	        [Weibo]<a href="http://t.sina.com.cn/imk2" target="_blank">@Python发烧友</a> &bull;
	        [Twitter]<a href="http://twitter.com/fengmk2" target="_blank">@fengmk2</a>.
        </div> 
    </div>
</div>
</body> 
</html> 
