<script>
function delete_post(id) {
    if(window.confirm('确定要删除此文章吗？')) {
        $.post('/post/' + id + '/delete', function(result) {
        	if(result.error) {
        		alert(result.error);
        	} else {
        		window.location = '/';
        	}
        });
    }
};
</script>

<div class="extras_section">
<?js var post = it.post, current_user = it.current_user; ?>
    <h2 class="post_title"><a href="/post/#{ post.id }">${ post.title }</a></h2>
    <div class="post_content">
    #{ post.html }
    </div>
    <p>
        <?js if(post.author) { ?>
        <a href="#{ post.author.t_url }">
           <img style="width: 25px; height: 25px;" src="#{ post.author.profile_image_url }" />
           @${ post.author.screen_name }
        </a>
        <?js } ?>
        Post at #{ post.create_at.format() }
        <span style="color: #ccc;">&bull;</span>
        <?js if(current_user && (!post.author || current_user.uid === post.author.uid)) { ?>
        <a href="/post/#{ post.id }/edit">编辑</a>
        <span style="color: #ccc;">&bull;</span>
        <a href="javascript:delete_post('#{ post.id }');">删除</a>
        <?js } ?>
    </p>
</div>